.greeting-page {
  background: url('../images/greeting-background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: rgb(112, 107, 107);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting-block {
  background-color: rgba(217, 217, 235, 0.5);
  width: 30vw;
  margin: 0 auto;
  padding: 1vw 3vw 3vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.header {
  text-align: center;
  font-size: 2vw;
}

#logout-button {
  color: white;
}